---
openapi: 3.0.1
info:
  title: API V1
  version: v1
paths:
  "/books":
    get:
      summary: List all available books
      responses:
        '200':
          description: books listed
          content:
            application/json:
              schema:
                oneOf:
                - type: array
                - type: object
                  properties:
                    name:
                      type: string
                    author:
                      type: string
                  required:
                  - name
servers:
- url: http://{defaultHost}
  variables:
    defaultHost:
      default: localhost:3000
